footer
	section.info.dotted
		.container
			.info-wrapper
				.info-wrapper-items(data-section='info-product')
					.info-wrapper-items__title
						h1 Продукция
					.info-wrapper-items__link
						ul
							li
								a(href="#") Для дома и офиса
							li
								a(href="#") Промышленное освещение
							li
								a(href="#") Уличное освещение
							li
								a(href="#") Стабилизаторы напряжения
				.info-wrapper-items(data-section='info-contact')
					.info-wrapper-items__title
						h1 Контакты
					.info-wrapper-items__link
						ul.icon
							li.phone
								a(href="tel:+998711504488") +998 (71) <b>150 44 88</b>
							li.mail
								a(href="mailto:akfalighting.uz") akfalighting.uz
							li.tg
								a(href="telegram.me/@akfaledbot") @akfaledbot
							li.fb
								a(href="#") akfalighting
				.info-wrapper-items(data-section='info-search')
					.info-wrapper-items__title
						h1 Поиск
					.info-wrapper-items__search.form-group
						form(action='' method="GET")
							input(type="search")#search
							label(for='search') Введи ключевое слово
							button(type='submit').search
					.info-wrapper-items__lucem
						.info-wrapper-items__lucem_title Продукция
						a(href="#").lucem
	.container
		.footer
			.footer-copyright
				| © ООО Capital trade, 2018
			a(href="#").footer-korden
				img(src="images/icons/korden.svg", alt="Korden Group")
				span
					| Интернет-лаборатория
