header
	include mobile-menu
	include scrollheader
	.inner-header
			.container
				.header-content
					a(href="#").header-content-logo
						img(src="logo.svg")
					.header-content-list
						ul
							li.dropdown
								a(href="#").catalogBtn Каталог продукции
								ul.catalog
									li
										a(href="#").arrRight Для дома и офиса
									li
										a(href="#").arrRight Промышленное освещение
									li
										a(href="#").arrRight Уличное освещение
									li
										a(href="#").arrRight Стабилизаторы напряжения
							li
								a(href="/").home
							ul
								li.aboutdrop О компании
									ul.aboutMenu
										li
											a(href="#").arrRight О компании
										li
											a(href="#").arrRight Структура компании
										li
											a(href="#").arrRight Партнеры
										li
											a(href="#").arrRight Лицензии и сертификаты
								li
									a(href="#") Проектное освещение
								li
									a(href="#") Новости
								li
									a(href="#") Карьера
								li
									a(href="#") Контакты
								li
									a(href="#") LUCEM
					.header-content-number
						.header-content-number__text
							h1
								| Энергосберегающие лампы
							p
								| нового поколения
						.header-content-number__num
							p
								| + 998 (71) <span>150 44 88</span>
							ul
								li.lang
									a(href="#").rus.active
										p.arrow_dwn
											| рус
									ul.dropdown
										li
											a(href="#").uzb
												p
													| o'zb
										li
											a(href="#").eng
												p
													| eng
							.card-btn
								button(type="button").buy-btn
									| В корзину
								span.buy-count
									| 1245
					.header-content-number__text
						h1
							| Энергосберегающие лампы
						p
							| нового поколения
