.mobile-menu
	a(href="#").mobile-menu-btn
		.mobile-menu-btn__text.home_mobile
			| На главную
	a(href="#").mobile-menu-btn
		.mobile-menu-btn__text.gamburger
			| Меню
.mobile-menu-open
	.container
		.mobile-menu-open-wrapper
			ul.menu
				li.dropdown.arrMobile
					a(href="#")
						| Каталог продукции
					ul
						li.arrMobile
							a(href="#")
								span Для дома и офиса
						li.arrMobile
							a(href="#")
								span Промышленное освещение
						li.arrMobile
							a(href="#")
								span Уличное освещение
						li.arrMobile
							a(href="#")
								span Стабилизаторы напряжения
				li.dropdown.arrMobile
					a(href="#")
						| О компании
					ul
						li.arrMobile
							a(href="#")
								span Структура компании
						li.arrMobile
							a(href="#")
								span Партнеры
						li.arrMobile
							a(href="#")
								span Лицензии и сертификаты
				li.arrMobile
					a(href="#")
						| Проэктное освещение
				li.arrMobile
					a(href="#")
						| Новости
				li.arrMobile
					a(href="#")
						| Карьера
				li.arrMobile
					a(href="#")
						| Контакты
				li.arrMobile
					a(href="#")
						| LUCEM
		.mobile-menu
			a(href="#").mobile-menu-btn
				.mobile-menu-btn__text.home_mobile
					| На главную
			a(href="#").mobile-menu-btn
				.mobile-menu-btn__text.close
					| Закрыть
