extends pug/base

append vars

block content
	include pages/innerheader
	.content
		.navigation
			.container
				.crumbs
					<ul class="breadcrumbs">
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
							<a href="/">Карьера</a>
						</li>
						<li>
							<span>Заголовок вакансии</span>
						</li>
					</ul>
		.page-title
			.container
				h3
					| Заголовок вакансии
		.career-inner
			.container
				.default-page
					p
						| ООО Capital trade  ведет конкурсный набор на позицию бухгалтера. <br> Мы всегда рады молодым, целеустремленным, амбициозным специалистам. Если вы готовы работать в сплоченной команде, ориентированной на достижение самых высоких результатов, готовы учиться и развиваться, а главное — заинтересованы в карьерном и профессиональном росте — мы будем рады принять вас в нашей команде.
					h5
						| Квалификационные требования:
					p
						| Пол: Мужской <br>
						| Возраст:30 - 45 лет;<br>
						| Высшее инженерно-техническое образование. Стаж работы по специальности в энергосистеме не менее пяти лет. Опытный пользователь персонального компьютера.
					h5
						| Обязанности:
					p
						| Организация и контроль по эсплуатации оборудования тепловых электрических станций. Организация работы с персоналом на теплоэлектростанциях, проведение расследований и учет технологических нарущений в работе электростанций и др. Осуществление единой технической политики в области организации эксплуатации оборудования тепловых электрических станций.
					h5
						| Условия труда:
					ul
						li индивидуальные оплаты по результатам аттестации свыше – 750 000 сум
						li ежемесячная премия – 40 % от оклада
						li компенсация за дорогу и питание ~ 140 000 сум
						li выделение сельхоз продуктов (картошка-50 кг, лук-30 кг) каждому за счёт предприятия
						li выплата 13-ой зарплаты по результатам истекшего года в зависимости от стажа работы
						li лечение в заводском санатории-профилактории (дневной стационар, обслуживание, питание) за счёт предприятия
					h5
						| Условия подачи резюме:
					ul
						li Скачайте и заполните анкету кандидата;
						li При подаче анкеты кандидатов, приложите копии следующих документов: паспорта; трудовой книжки; иплома об образовании; сертификата внутреннего аудитора.
						li Отправьте вышеуказанные документы на электронную почту: info@ogcm.uz
			.career-inner-download
				.career-inner-block.dotted
					.career-inner-block__text
						| Бланк резюме
					.career-inner-block__link
						.doc
						.link-wrap
							a(href="#")
								| Скачать
							span
								| Бланк резюме
			.container
				.career-inner-link
					a(href="#").backBtn
						| Назад
	include pages/footer
