extends pug/base

append vars

block content
	include pages/innerheader
	.content
		.navigation
			.container
				.crumbs
					<ul class="breadcrumbs">
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
							<span>Карьера</span>
						</li>
					</ul>
		.page-title
			.container
				h3
					| Карьера
		.career
			.container
				.career-seo.default-page
						.career-seo-img(style="background-image: url('images/career.jpg');")
						h5
							| Заголовок H5.
						p
							| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
						p
							| Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы. Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
						p
							| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
			.career-card-block
				.container
					.career-card-block__title
						| Вакансии
					.career-card-block__items
						.career-card-block__item
							a(href="#")
								.career-card-block__item__date
									| 30.09.2018
								h5.career-card-block__item__title
									| Требуется Бухгалтер. Заголовок H5
								.career-card-block__item__subtitle
									| ООО Capital trade  ведет конкурсный набор на позицию бухгалтера. <br> Мы всегда рады молодым, целеустремленным, амбициозным специалистам. Если вы готовы работать в сплоченной команде, ориентированной на достижение самых высоких результатов, готовы учиться и развиваться, а главное — заинтересованы в карьерном и профессиональном росте — мы будем рады принять вас в нашей команде.отличия от конкурентов.
						.career-card-block__item
							a(href="#")
								.career-card-block__item__date
									| 30.09.2018
								h5.career-card-block__item__title
									| Требуется Бухгалтер. Заголовок H5
								.career-card-block__item__subtitle
									| ООО Capital trade  ведет конкурсный набор на позицию бухгалтера.<br> Мы всегда рады молодым, целеустремленным, амбициозным специалистам. Если вы готовы работать в сплоченной команде, ориентированной на достижение самых высоких результатов, готовы учиться и развиваться, а главное — заинтересованы в карьерном и профессиональном росте — мы будем рады принять вас в нашей команде.отличия от конкурентов.
						.career-card-block__item
							a(href="#")
								.career-card-block__item__date
									| 30.09.2018
								h5.career-card-block__item__title
									| Требуется Бухгалтер. Заголовок H5
								.career-card-block__item__subtitle
									| ООО Capital trade  ведет конкурсный набор на позицию бухгалтера. <br> Мы всегда рады молодым, целеустремленным, амбициозным специалистам. Если вы готовы работать в сплоченной команде, ориентированной на достижение самых высоких результатов, готовы учиться и развиваться, а главное — заинтересованы в карьерном и профессиональном росте — мы будем рады принять вас в нашей команде.отличия от конкурентов.
						.career-card-block__item
							a(href="#")
								.career-card-block__item__date
									| 30.09.2018
								h5.career-card-block__item__title
									| Требуется Бухгалтер. Заголовок H5
								.career-card-block__item__subtitle
									| ООО Capital trade  ведет конкурсный набор на позицию бухгалтера.<br> Мы всегда рады молодым, целеустремленным, амбициозным специалистам. Если вы готовы работать в сплоченной команде, ориентированной на достижение самых высоких результатов, готовы учиться и развиваться, а главное — заинтересованы в карьерном и профессиональном росте — мы будем рады принять вас в нашей команде.отличия от конкурентов.
						.career-card-block__item.mobile_hidden
							a(href="#")
								.career-card-block__item__date
									| 30.09.2018
								h5.career-card-block__item__title
									| Требуется Бухгалтер. Заголовок H5
								.career-card-block__item__subtitle
									| ООО Capital trade  ведет конкурсный набор на позицию бухгалтера. <br> Мы всегда рады молодым, целеустремленным, амбициозным специалистам. Если вы готовы работать в сплоченной команде, ориентированной на достижение самых высоких результатов, готовы учиться и развиваться, а главное — заинтересованы в карьерном и профессиональном росте — мы будем рады принять вас в нашей команде.отличия от конкурентов.
									#pagination
					<ul class="pagination">
						<li>
							<a href="">Предыдущая</a>
						</li>
						<li>
							<a href="">1</a>
						</li>
						<li class="active">
							<a href="">2</a>
						</li>
						<li>
							<a href="">3</a>
						</li>
						<li class="dots">
							<a href=""></a>
						</li>
						<li>
							<a href="">10</a>
						</li>
						<li>
							<a href="">Следующая</a>
						</li>
					</ul>
	include pages/footer
