extends pug/base

append vars
	- body.classList = ['header-contact'];

block content
	include pages/innerheader
	.content
		.navigation
			.container
				.crumbs
					<ul class="breadcrumbs">
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
							<span>Контакты</span>
						</li>
					</ul>
		.page-title
			.container
				h3
					| Контакты
		.contact
			.contact-map
				img(src="images/maps.jpg")
			.container
				.contact-alert
					.contact-alert-txt.alert
						| Что бы узнать номер телефона и адрес магазина, гажмите на нужную Вам метку на карте
				.contact-ofice
					.contact-ofice-title
						| Контакты головного офиса:
					.contact-ofice-items
						.contact-ofice-item
							h5
								| Телефон:
							ul
								li
									a(href="tel: +998711504488") +998 (71) 150 44 88 <span>Основной номер</span>
								li
									a(href="tel: +998711504488") +998 (71) 150 44 88 <span>Название отдела</span>
								li
									a(href="tel: +998711504488") +998 (71) 150 44 88 <span>Название отдела</span>
						.contact-ofice-item
							h5
								| Адрес:
							ul
								li Узбекистан, название города, название улицы, номер строения
						.contact-ofice-item
							h5
								| Адрес электронной почты:
							ul
								li
									a(href="mailto:info@akfalighting.uz") info@akfalighting.uz
				.contact-shourom
					.contact-shourom-title
						| Контакты шоу-румов:
					.contact-shourom-tab
						ul
							li.active Узбекистан
							li Казахстан
							li Таджикистан
							li Киргизия
						.contact-shourom-tab__items.active
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88
						.contact-shourom-tab__items
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88
						.contact-shourom-tab__items
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88
						.contact-shourom-tab__items
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Ташкент, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Самарканд, название улицы, номер строения
								dd +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88, +998 (71) 150 44 88
							dl
								dt Бухара, название улицы, номер строения
								dd +998 (71) 150 44 88
				.contact-form
					.contact-form__title
						| Если у Вас есть вопросы, вы можете обратиться к нам:
					.contact-form__items
						form(action="#" method="")
							.contact-form__inputs
								.contact-form__item.form-group.error
									input(type="text")#name
									label(for="name")
										| Представьтесь пожалуйста
								.contact-form__item.form-group.error
									input(type="email")#mail
									label(for="mail")
										| Ваш адрес электронный почты
							.contact-form__textarea.form-group.textarea.error
								textarea#text
								label(for="text")
									| Ваше сообщение...
							.contcat-form__alert.alert.error
									| Все поля обязательны для заполнения
							<div class="visualCaptcha" id="simple-captcha">
								<div class="visualCaptcha-possibilities">
									<div class="img">
										<a href="javascript:void(0);" role='shirt'>
											<img src="images/icons/shirt.svg" alt="" data-src='images/icons/shirtActive.svg'>
										</a>
									</div>
									<div class="img">
										<a href="javascript:void(0);" role='headphone'>
											<img src="images/icons/headphone.svg" alt="" data-src='images/icons/headphoneActive.svg'>
										</a>
									</div>
									<div class="img">
										<a href="javascript:void(0);" class='active' role='auto'>
											<img src="images/icons/auto.svg" alt="" data-src='images/icons/autoActive.svg'>
										</a>
									</div>
									<div class="img">
										<a href="javascript:void(0);" role='buggy'>
											<img src="images/icons/buggy.svg" alt="" data-src='images/icons/buggyActive.svg'>
										</a>
									</div>
									<div class="img">
										<a href="javascript:void(0);" role='coffee'>
											<img src="images/icons/coffee.svg" alt="" data-src='images/icons/coffeeActive.svg'>
										</a>
									</div>
									<div class="img">
										<a href="javascript:void(0);" role='airplain'>
											<img src="images/icons/airplain.svg" alt="" data-src='images/icons/airplainActive.svg'>
										</a>
									</div>
									button(type="submit") Отправить
								</div>
								<div class="visualCaptcha-explanation error">Выберите&nbsp;<span class="active">"автомобиль"</span>, чтобы подтвердить, что&nbsp;Вы не&nbsp;робот</div>
							</div>
	include pages/footer
