extends pug/base

append vars
	//- ...

block content
	include pages/innerheader
	.content
		.navigation
			.container
				.crumbs
					<ul class="breadcrumbs">
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
							<span>Лицензии и сертификаты</span>
						</li>
					</ul>
		.page-title
			.container
				h3
					| Лицензии и сертификаты
		.license
			.container
				.license-tittle
					| SEO текст. Заголовок H5.
				.license-subtitle
					| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
				.license-items
					.license-item
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item.mobile_hidden
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item.mobile_hidden
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item.mobile_hidden
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item.tab_hidden
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item.tab_hidden
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
					.license-item.tab_hidden
						a(href="images/bigplaceholder.jpg").license-item__image(data-fancybox="images")
							img(src="images/bigplaceholder.jpg" alt="placeholder")
	include pages/footer
