extends pug/base

append vars
	//- ...

block content
	include pages/innerheader
	.content
		.navigation
			.container
				.crumbs
					<ul class="breadcrumbs">
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
							<span>Партнеры</span>
						</li>
					</ul>
		.page-title
			.container
				h3
					| Партнеры
		.partners
			.container
				.partners-tittle
					| SEO текст. Заголовок H5.
				.partners-subtitle
					| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
				.partners-company
					.partners-company-items
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании. Пример в лве строки
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item.tab_hidden
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item.tab_hidden
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item.tab_hidden
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
						.partners-company-item.tab_hidden
							a(href="#")
								.partners-company-item__image(style='background-image: url(images/company.jpg);')
								.partners-company-item__name
									| Название компании
	include pages/footer
