extends pug/base

append vars

block content
	include pages/innerheader
	.content
		.navigation
			.container
				.crumbs
					<ul class="breadcrumbs">
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
							<span>Результаты поиска</span>
						</li>
					</ul>
		.page-title
			.container
				h3
					| Результаты поиска
		.search-content
			.container
				.search-content-resault
					span
						| Найдено 27627 результатов
				.search-content-input.form-group
					form(action="#" method="")
						input(type="search")#search
						label(for="search") Введи ключевое слово
						button(type='submit').search
				.search-content-item
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item.mobile_hidden
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item.mobile_hidden
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item.mobile_hidden
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item.mobile_hidden
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				.search-content-item.mobile_hidden
					.search-content-item__title
						| Пример оформления заговлока в котом присутствует ключевое слово
					.search-content-item__subtitle
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					.search-content-item__link
						a(href="#")
							| sberbank.ru/ru/person/remittance/nal_moneygram_int
				#pagination
					<ul class="pagination">
						<li>
							<a href="">Предыдущая</a>
						</li>
						<li>
							<a href="">1</a>
						</li>
						<li class="active">
							<a href="">2</a>
						</li>
						<li>
							<a href="">3</a>
						</li>
						<li class="dots">
							<a href=""></a>
						</li>
						<li>
							<a href="">10</a>
						</li>
						<li>
							<a href="">Следующая</a>
						</li>
					</ul>
	include pages/footer
