extends pug/base

append vars
	//- ...

block content
	include pages/innerheader
	.content
		.navigation
			.container
				.crumbs
					<ul class="breadcrumbs">
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
							<span>Структура компании</span>
						</li>
					</ul>
		.page-title
			.container
				h3
					| Структура компании
		.about
			.container
				.default-page
					img(src="images/placeholder.jpg", alt="Placeholder")
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал.
					h1
						| Заголовок H1.<br>Пример заголовка в две строки	
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. 
					p
						| Абзац! Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
					h2
						| Заголовок H2. <br>Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
					h3
						| Заголовок H3. <br>Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
					ul
						li
							| Оформление маркировки текста. Пример оформления <br>переноса строки.
						li
							| Оформление маркировки текста
						li
							| Оформление маркировки текста
					p
						| Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
					b
						| Пример оформления жирности шрифта на сайте
					br
					i
						| Пример оформления курсива шрифта на сайте
					br
					u
						| Пример оформления подчеркивания шрифта на сайте
					br
					a
						| Пример оформления ссылки на сайте
					br
					a.hover
						| Пример оформления ссылки на сайте при наведение
					br
					h4
						| Заголовок H4. <br>Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. 
					h5
						| Заголовок H5. <br>Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. 
					table
						tr
							th Топ компании мира
							th Стоимость
							th Прибыль по сравнению с прошлым.
							th Отрасль
						tr
							td Apple
							td $904,61 млрд.
							td +43%
							td Электроника, информационные технологии
						tr
							td Google
							td $782,68 млрд.
							td +12%
							td Интернет
						tr
							td Microsoft
							td $681,58 млрд.
							td +11%
							td Разработка программного <br>обеспечения
	include pages/footer